{% include   'status.html' %}
{% block title %}Liste des lieux de compétitionsss{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Liste des lieux de compétition</title>
<script src="https://kit.fontawesome.com/bf80631bb4.js" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div class="container ">
    <div class="row mt-3 ">
        <div class="col-md-auto">
    <h1 class="mt-2">Liste des lieux de compétition</h1>
<!-- Bouton d'ajout en modal -->
<button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#addModal">
Ajouter <span><i class="fas fa-plus-circle"></i></span>
</button>

<!-- Modal d'ajout -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="addModalLabel">Ajouter une compétition</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<form action="{% url 'lieu_competition' %}" method="post">
{% csrf_token %}
{{ form.as_p }}
<button class="btn btn-primary" type="submit" name="add">Ajouter</button>
</form>
</div>
</div>
</div>
</div>

<div class="row mt-3">
<div class="col-md-12">
<table class="table">
<thead class="table-dark">
<tr>
<th scope="col">disicipline</th>
<th scope="col">Nom</th>
<th scope="col">Ville</th>
<th scope="col">Modifier</th>
<th scope="col">Supprimer</th>
</tr>
</thead>
<tbody>
{% for competition in page_obj %}
<tr>
<td>{{ competition.Discipline.nom }}</td>
<td>{{ competition.Nom }}</td>
<td>{{ competition.Ville }}</td>
<td>
<!-- Button trigger modal pour modifier -->
<button type="button" class="btn btn-warning" data-bs-toggle="modal"
data-bs-target="#editModal{{ competition.pk_list_competition }}">
<span><i class="fas fa-pencil-alt"></i></span>
</button>
<!-- Modal pour modifier -->
<div class="modal fade" id="editModal{{ competition.pk_list_competition }}" tabindex="-1"
aria-labelledby="editModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="editModalLabel">Modifier une compétition</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<form action="{% url 'lieu_competition' %}" method="post">
{% csrf_token %}
<input type="hidden" name="id" value="{{ competition.pk_list_competition }}">
<div class="form-group">
<label for="nom">Nom</label>
<input type="text" class="form-control" id="nom" name="nom"value="{{ competition.Nom }}">
</div>
<button class="btn btn-primary" type="submit" name="update">Modifier</button>
</form>
</div>
</div>
</div>
</div>
</td>
<td>
<!-- Bouton de suppression -->
<form action="{% url 'lieu_competition' %}" method="post">
{% csrf_token %}
<input type="hidden" name="id" value="{{ competition.pk_list_competition }}">
<button class="btn btn-danger" type="submit" name="delete">
<span><i class="fas fa-trash"></i></span>
</button>
</form>
</td>
</tr>
{% endfor %}
</tbody>
</table>

<!-- Pagination -->
<nav aria-label="Page navigation">
<ul class="pagination">
{% if page_obj.has_previous %}
<li class="page-item">
<a class="page-link" href="?page=1">First</a>
</li>
<li class="page-item">
<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
</li>
{% endif %}
{% for num in page_obj.paginator.page_range %}
<li class="page-item {% if num == page_obj.number %}active{% endif %}">
<a class="page-link" href="?page={{ num }}">{{ num }}</a>
</li>
{% endfor %}
{% if page_obj.has_next %}
<li class="page-item">
<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
</li>
<li class="page-item">
<a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
</li>
{% endif %}
</ul>
</nav>
</div>
</div>
</div>
</div>
</div>
</body>

</html>
{% endblock %}