
<<<<<<< HEAD
=======
body {
   background-color: black;
}
>>>>>>> 8e1c4047e301b530f358f4e15790d00c69dbcbc7
#total-order {
  background-color: #4cb4c7;
}

.vertical-menu {
    width: 100%;
    /* Largeur maximale */
}

.vertical-menu ul {
    list-style-type: none;
    /* Supprime les puces de la liste */
    padding: 0;
    /* Supprime le remplissage par défaut de la liste */
    margin: 0;
    /* Supprime la marge par défaut de la liste */
}

.vertical-menu li a {
    display: block;
    /* Affiche les liens comme des blocs pour occuper toute la largeur */
    padding: 8px 16px;
    /* Ajoute un peu de remplissage autour des liens */
    text-decoration: none;
    /* Supprime la décoration des liens */
    color: #000;
    /* Couleur du texte */
    background-color: #f2f2f2;
    /* Couleur de fond des éléments de menu */
    border-radius: 5px;
    /* Ajoute un peu de coins arrondis aux éléments de menu */
    margin-bottom: 5px;
    /* Espacement entre les éléments de menu */
}

.vertical-menu li a:hover {
    background-color: #ccc;
    /* Couleur de fond au survol */
}