*{
    margin: 0;
    padding: 0;
}

html{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}
section {
    /* background: url('/static/images/jeuxonav.jpg');   */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-position-y:10%;
    padding-bottom: 1%; 
   

}

/* section nav {
  text-align: center;
  padding-bottom: 20px;
} */

#bandeau{
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 10%;
    margin-top: 15%;
}
#contenu{
    text-align: center;
     /* background-color:rgba(255, 255, 255, 0.5); */
    /* width: 50%; */
    padding: 0;
}
#contenu a{
  color: rgb(137, 137, 240);
  border: 1px solid red;
  border-radius: 15px;
  padding: 20px;
  transition: ease 1s;
  text-align: center;
  text-decoration: none;
  max-width: 3px;
  /* background-color: rgba(170,32 ,19 , 0.8); */

}
/* #contenu img:hover{
    transform: rotate(360deg) scale(1);
    transition: ease 3s;
} */
a{
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: 1s;
}
#contenu a:hover{
    color: #4cb4c7;

}

#total-order {
  background-color: #4cb4c7;
}

.vertical-menu {
    width: 100%;
    /* Largeur maximale */
}

.vertical-menu ul {
    list-style-type: none;
    /* Supprime les puces de la liste */
    padding: 0;
    /* Supprime le remplissage par défaut de la liste */
    margin: 0;
    /* Supprime la marge par défaut de la liste */
}

.vertical-menu li a {
    display: block;
    /* Affiche les liens comme des blocs pour occuper toute la largeur */
    padding: 8px 16px;
    /* Ajoute un peu de remplissage autour des liens */
    text-decoration: none;
    /* Supprime la décoration des liens */
    color: #000;
    /* Couleur du texte */
    background-color: #f2f2f2;
    /* Couleur de fond des éléments de menu */
    border-radius: 5px;
    /* Ajoute un peu de coins arrondis aux éléments de menu */
    margin-bottom: 5px;
    /* Espacement entre les éléments de menu */
}

.vertical-menu li a:hover {
    background-color: #ccc;
    /* Couleur de fond au survol */
}