{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Django App{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
        <a class="navbar-brand" href="/">France JO 2024</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!-- Liens pour les utilisateurs non connectés -->
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inscription' %}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'connexion' %}">Connexion</a>
                </li>
                {% endif %}

                <!-- Lien pour tous les utilisateurs -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'choisir_ticket' %}">Choisir Ticket</a>
                </li>

                <!-- Lien pour les utilisateurs connectés -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Panier d'achat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'deconnexion' %}">Déconnexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</div>

</body>
</html>