<!-- confirmation_commande.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Confirmation de la commande</title>
</head>
<body>
<h1>Confirmation de la commande :</h1>
<p>Votre commande a été passée avec succès !</p>
<p>Numéro de commande : {{ commande.pk_Commande }}</p>
<p>Quantité : {{ commande.quantite }}</p>
<p>Montant total : {{ commande.MontantTotal }}</p>
<h2>Détails du billet :</h2>
<p>Clef du billet électronique :{{ commande.pk_Billet.Cledebilletelectroniquesecurisee }}</p>
<p>Clef du billet : {{ commande.pk_Billet.ClefBillet }}</p>
<p>Clef de sécurité : {{ commande.pk_Billet.ClefSecurite }}</p>
</body>
</html>
{% include "footer.html" %}

