<footer class=" bg-secondary text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contactez-nous</h5>
                <p>venez participez le JO avec nous </p>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope"></i>franceOlympique@JO2024.fr</li>
                    <li><i class="fas fa-phone"></i> +334567890</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Liens utiles</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Suivez nous sur reseau sociaux</h4>
                <div class="container">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center">© 2024 Mon Site. Tous droits réservés.</p>
    </div>
</footer>