{% extends 'base.html' %}
{% load static %}

{% block title %}Accueil - Jeux Olympiques France{% endblock %}

{% block content %}
<header class="py-3 bg-lights px-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 px-1" style="height: 550px;">
                <div class="img" style="height: 100%; width: 100%; overflow: hidden;">
                    <img src="{% static 'images/jeuxonav.jpg' %}" alt=""
                        style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <div class="col-md-6 px-1" style="height: 550px;">
                <div class="img" style="height: 100%; width: 100%; overflow: hidden;">
                    <img src="{% static 'images/stade.jpg' %}" alt=""
                        style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container align-items-stretch">
        <div class="row">
            {% for competition in competitions %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ competition.image }}" class="card-img-top competition-image"
                        alt="Competition Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ competition.Nom }}</h5>
                        <p class="card-text">{{ competition.pk_lieu }}</p>
                        <p class="card-text"><small class="text-muted"><strong>Date de début :</strong> {{competition.pk_date_competition.date_debut|date:'d-m-Y' }}</small></p>
                        <p class="card-text"><small class="text-muted"><strong>Date de fin :</strong>{{competition.pk_date_competition.date_fin|date:'d-m-Y' }}</small></p>
                        <p class="card-text"><small class="text-muted"><strong>Date remises de médailles :</strong> {{competition.pk_date_competition.Remises_de_medailles|default:"Non spécifiée"}}</small>
                        </p>
                        <a href="#" class="btn btn-primary">Voir les offres disponibles</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

{% endblock %}