    {% extends 'base.html' %}

{% block title %}
Modifier
{% endblock %}

{% block content %}
<div class="container">
    <h1>Modifier la commande</h1>
    <div id="details_commande">
        <!-- Afficher les détails de la commande à modifier -->
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">Détails de la commande à modifier</h2>
                <p class="card-text">Compétition: {{ commande.pk_Offre.competition}}</p>
                <p class="card-text">Offre: {{ commande.pk_Offre.type }}</p>
                <p class="card-text">Quantité: {{ commande.quantite }}</p>
                <p class="card-text">Montant Total: {{ commande.MontantTotal }}</p>
            </div>
        </div>
    </div>
    <section id="modifier_commande_user">
        <h1>Choisir pour modifier</h1>
        <form id="choix-competition-form" method="GET">
            <div class="form-group">
                <label for="competition">Sélectionner une compétition :</label>
                <select class="form-control" id="competition" name="competition">
                    <option value="">-- Sélectionner une compétition --</option>
                    {% for competition in competitions %}
                    <option value="{{ competition.pk_typ_competition }}">{{ competition.Nom }} - Lieu:
                        {{competition.pk_lieu.Nom }} ({{ competition.pk_lieu.Ville }})</option>
                    {% endfor %}
                </select>
            </div>
        </form>

        <div id="offres_selection">
            {% if offres %}
            <h2>Modifier votre offre :</h2>
            <form method="POST" action="{% url 'modifier_commande' commande.pk_Commande %}">
                {% csrf_token %}
                <div class="row">
                    {% for offre in offres %}
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ offre.type }} {{ offre.competition.Nom }} -
                                    {{offre.nombre_personnes }} personnes</h5>
                                <p class="card-text">Prix unitaire : {{ offre.prix }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </form>
            {% else %}
            <p>Aucune offre disponible pour la compétition sélectionnée.</p>
            {% endif %}
        </div>

        <div id="selection_offre_quantite">
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="offre">Sélectionner une offre :</label>
                        <select class="form-control" name="offre_id" id="offre">
                            {% for offre in offres %}
                            <option value="{{ offre.pk_Offre }}">{{ offre.type }} - {{ offre.competition.Nom }} -
                                {{offre.nombre_personnes }} personnes</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="quantite">Quantité :</label>
                        <input type="number" class="form-control quantite-input" name="quantite" id="quantite" min="1"
                            value="{{ commande.quantite }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
            </div>
        </div>
    </section>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Capturer le changement de sélection de la compétition
        document.getElementById('competition').addEventListener('change', function () {
            document.getElementById('choix-competition-form').submit();
        });

        // Mettre à jour le montant total lorsqu'une quantité change
        var quantiteInput = document.getElementById('quantite');
        quantiteInput.addEventListener('change', function () {
            var quantite = parseInt(this.value);
            var prix = parseFloat(document.querySelector('[name^=montant_total]').value);
            var montantTotalInput = document.querySelector('[name^=montant_total]');
            var montantTotal = quantite * prix;
            montantTotalInput.value = montantTotal.toFixed(2); // Fixer le nombre de décimales à 2
        });
    });
</script>

{% endblock %}