{% extends 'base.html' %}

{% block title %}Panier{% endblock %}

{% block content %}
<section id="payer_commande_user">

<div class="container-fluid mt-5">
<div class="row justify-content-center">
<div class="col-md-7">
<div class="card">
<div class="card-body">
<h1 class="card-title text-center mb-4">Paiement par carte bancaire</h1>
<form method="post" action="{% url 'payer_commande' commande_id=commande_id %}" id="payment-form">
{% csrf_token %}
<div class="form-group">
<label for="card_number">Numéro de carte :</label>
<input type="text" class="form-control" id="card_number" name="card_number" placeholder="Numéro de carte" required>
</div>
<div class="form-row">
<div class="form-group col">
<label for="expiry_date">Date d'expiration :</label>
<input type="text" class="form-control" id="expiry_date" name="expiry_date" placeholder="MM/YY" required>
</div>
<div class="form-group col">
<label for="cvv">CVV :</label>
<input type="text" class="form-control" id="cvv" name="cvv" placeholder="CVV" required>
</div>
</div>
<div class="form-group">
<label for="amount">Montant à payer :</label>
<input type="text" class="form-control" id="amount" name="amount" readonly>
</div>
<button type="submit" class="btn btn-primary btn-block">Payer</button>
</form>
</div>
</div>
</div>
</div>
</div>
</section>
<script>
document.addEventListener("DOMContentLoaded", function() {
// Récupérer le montant total de la commande
var montantTotal = parseFloat("{{ montant_total }}");

// Afficher le montant total dans le champ correspondant
document.getElementById("amount").value = montantTotal.toFixed(2);
});
</script>
{% endblock %}
