{% include 'status.html' %}
{% load static %}

{% block content %}
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation de mot de passe</title>
    <!-- Inclure Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Un e-mail de réinitialisation de mot de passe vous a été envoyé</h2>
                <p>Veuillez consulter votre boîte de réception pour suivre les instructions de réinitialisation de votre
                    mot de passe.</p>
            </div>
        </div>
    </div>

    <!-- Inclure Bootstrap JS et jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
{% endblock %}