
{% block title %} {% endblock %}

{% block content %}
{% include 'status/status.html' %}

    <!-- Contenu principal -->
    <div class=" container-fluid ">
       <br> 

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center text-white mb-4">
                <div class="card-header">
                    <h5 class="card-title">Commande validée</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"><!-- Contenu de la carte --></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center text-white mb-3">
                <div class="card-header">
                    <h5 class="card-title">Total des Ventes</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"><!-- Contenu de la carte --></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center text-white mb-3">
                <div class="card-header">
                    <h5 class="card-title">Billet</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"><!-- Contenu de la carte --></h3>
                </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <h1 class="mb-1">Ventes par Offre</h1>
            <div class="table-responsive mt-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Offre</th>
                            <th>Nombre de Ventes</th>
                            <th>Quantité Vendue</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for offre in ventes_par_offre %}
                        <tr>
                            <td>{{ offre.type }}</td>
                            <td>{{ offre.nombre_ventes }}</td>
                            <td>{{ offre.quantite_vendue }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Votre CSS -->
<style>
   body {
    background-color: #dfe9f5;
}

.nav-admin {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #fff;
    width: 380px;
    overflow: hidden;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: "poppins", sans-serif;
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    border-radius: 50%;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-admin a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
    text-decoration: none;
}

.nav-admin .fas {
    position: relative;
    width: 76px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-admin .nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

.nav-admin a:hover {
    background: #eee;
}

.logout {
    position: absolute;
    bottom: 0;
}

.container-status {
    display: flex;
}

#total-order {
    background-color: #4cb4c7;
}

.nav-admin ul {
    list-style: none;
    padding: 10px;
}

.nav-admin li {
    margin-bottom: 10px;
}

.nav-admin a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #555;
}

.nav-admin a:hover {
    background-color: #f2f2f2;
}

.nav-admin .fas {
    margin-right: 5px;
}

.container-fluid {
    margin-left: 1px;
    /* Ajustement pour la barre de navigation latérale */
}

.card {
    background-color: #4cb4c7;
    /* Couleur de fond pour les cartes */
    margin-bottom: 20px;
    /* Marge en bas pour l'espacement entre les cartes */
}

.container-fluid .row {
    margin-left: 1px;
    /* Ajustement pour la barre de navigation latérale */
}

.table-responsive {
    margin-top: 10px;
    /* Ajustez la marge supérieure selon vos besoins */
}
#total-order {
  background-color: #4cb4c7;
}



</style>

{% endblock %}
