{% extends 'base.html' %}


<section id="saisie_code_verifiaction">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Saisissez le code de vérification reçu par sms</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="verification_code">Code de vérification:</label>
                        <input type="text" class="form-control" id="verification_code" name="verification_code" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
            </div>
        </div>
    </div>
</section>

