{% extends 'base.html' %}

{% block title %}Panier{% endblock %}

{% block content %}
<section id="voir_panier">

<div class="container-fluid px-3">
    
    <h1 class="mt-5 mb-4 px-5">Panier</h1>
    
    <div class="row">
{% for commande in commandes %}
{% if not commande.est_validee %}
<div class="col-md-5 mb-1 px-5">
<div class="card">
<div class="card-body">
<h5 class="card-title">Compétition: {{ commande.pk_Offre.competition.Nom }}</h5>
<p class="card-text"><strong>Offre:</strong> {{ commande.pk_Offre.type }}</p>
<p class="card-text"><strong>Quantité:</strong> {{ commande.quantite }}</p>
<p class="card-text"><strong>Prix unitaire:</strong> {{ commande.pk_Offre.prix }}</p>
<p class="card-text"><strong>Prix total:</strong> {{ commande.MontantTotal }}</p>
<div class="btn-group" role="group" aria-label="Actions">

<a class="btn btn-warning mr-1" href="{% url 'modifier_commande' commande.pk_Commande %}">Modifier <i class="fas fa-marker"></i></a>
<form method="POST" action="{% url 'supprimer_commande' commande.pk_Commande %}">
{% csrf_token %}
<button type="submit" class="btn btn-danger mr-1">Supprimer <i class="far fa-trash-alt"></i></button>
</form>
<a href="{% url 'payer_commande' commande.pk_Commande %}" class="btn btn-success ">Payer <i class="fas fa-credit-card"></i> </a>

</div>
</div>
</div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
</section>

{% endblock %}
